.App{
  background-color: blue;
}


.title{
  background-color: black;
  color:Yellow;
  font-size: 50px;
  text-align: center;
  margin: 0%;
}

.boardDiv{
  background-color: black;
  color: yellow;
  display: block;
  align-items: center;
}

.teamDiv{
  display: flex;
  background-color: blue;
  color: yellow;
  font-size: 40px;
  margin-left: 10px;
  align-items: center;
}

.addButton{
  background-color: yellow;
  color:blue;
  font-size: 14px;
  height: 25px;
  width: 45px;
  margin-left: 50px;
  cursor: pointer;
}

.subtractButton{
  background-color: yellow;
  color:blue;
  font-size: 14px;
  height: 25px;
  width: 45px;
  margin-right: 95px;
  cursor: pointer;
}

.scoreDiv{
  display: flex;
  background-color: blue;
  color: yellow;
  margin-left: 20px;
}

.scoreButtonsDiv{
  display: flex;
  background-color: blue;
  color: yellow;
  margin-left: 60px;
}

.teamScores{
  display: flex;
  background-color: blue;
  color: yellow;
  margin-left: 100px;
  margin-right: 80px;
  border: dotted;
  border-color: yellow;
  font-size: 18px;
  width: 300px;
}

.teamNames{
  margin-left: 40px;
  margin-right: 40px;
  border: solid;
  border-color: yellow;
}

.catTitle{
  color: yellow;
  background-color: blue;
  font-size: 40px;
  border-style: solid;
  border-width: 2%;
  text-align: center;
}
.categoriesDiv{
  display:flex;
  margin-left: 5%;
}

.questionsDiv{
  margin-left: 5%;
  margin-right: 5%;
}

.questionCard{
  margin-top: 0;
  margin-right: 5%;
  width: 250px;
  height: 200px;
  cursor: pointer;
  border-style: solid;
  border-width: 1%;
  text-align: center;
  font-size: 32px;
}