.title{
  background-color: black;
  color:blue;
  font-size: 50px;
  text-align: center;
  margin: 0%;
}

.boardDiv{
  background-color: black;
  color: blue;
  display: block;
  align-items: center;
}

.players{
  background-color: white;
  color: Black;
  text-align: center;
}